@model BerberOtomasyonu.Models.AdminIndexView


<h3>Hizmet Listesi</h3>
<a asp-controller="Admin" asp-action="HizmetOlustur" class="btn btn-sm btn-primary">Hizmet Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Hizmet ID</th>
            <th>Hizmet Adı</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
            <th style="width: 150px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hizmet in Model.Hizmetler)
        {
            <tr>
                <td>@hizmet.HizmetID</td>
                <td>@hizmet.HizmetAdi</td>
                <td>@hizmet.Aciklama</td>
                <td>@hizmet.Fiyat</td>
                <td>
                    <a asp-controller="Admin" asp-action="HizmetDuzenle" asp-route-id="@hizmet.HizmetID" class="btn btn-primary btn-sm">Düzenle</a>
                    <a asp-controller="Admin" asp-action="HizmetSil" asp-route-id="@hizmet.HizmetID" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>Berber Listesi</h3>
<a asp-controller="Admin" asp-action="BerberEkle" class="btn btn-sm btn-primary">Berber Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Berber ID</th>
            <th>Ad-Soyad</th>
            <th>Telefon</th>
            <th>Email</th>
            <th style="width: 150px;">Uzmanlık Alanı</th>
            <th>Çalışma Saatleri</th>
            <th style="width: 150px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var berber in Model.Berberler)
        {
            <tr>
                <td>@berber.BerberID</td>
                <td>@berber.AdSoyad</td>
                <td>@berber.Telefon</td>
                <td>@berber.Email</td>
                <td>@berber.HizmetID</td>
                <td>@berber.CalismaSaatleri</td>
                <td>
                    <a asp-controller="Admin" asp-action="BerberDuzenle" asp-route-id="@berber.BerberID" class="btn btn-primary btn-sm">Düzenle</a>
                    <a asp-controller="Admin" asp-action="BerberSil" asp-route-id="@berber.BerberID" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
