@model IEnumerable<RandevuDetay>
    @{
        Layout = "_Layout2";
    }

    
    <div class="container mt-5">
        <h1 class="text-center fw-bold mb-5">Randevularım</h1>
    
        <!-- Eğer mesaj varsa göster -->
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-warning">
                @TempData["Message"]
            </div>
        }
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hizmet</th>
                    <th>Berber</th>
                    <th>Tarih</th>
                    <th>Saat</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var randevu in Model)
                {
                    <tr>
                        <td>@randevu.HizmetAdi</td>
                        <td>@randevu.BerberAdi</td>
                        <td>@randevu.RandevuTarihi.ToString("yyyy-MM-dd")</td>
                        <td>@randevu.RandevuSaati</td>
                        <td>@(randevu.Durum ? "Onaylı" : "Onay Bekliyor")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    